#browse
    background-color: #f5fbfc
    .textbox
        width: 500px
        text-align: center
        h1
            font-weight: 700
            font-size: 60px
            color: #35b9be
        h4
            font-size: 20px
            color: #6c7480
            margin: 20px 0
            line-height: 1.2
            span
                color: #35b9be
                text-decoration-line: underline
    .btn
        font-size: 18px
        border: 0.5px solid #bdbdbd
        padding: 15px 46px
        margin: 0 20px
        border-radius: 5px
    .bgc
        background-color: #35b9be
        color: #ffff
    .box
        border: 2px solid #ebf6f6
        border-radius: 10px
        background-color: #ffffff
        padding: 30px
        margin: 0 0 10px 0
        .imgbox
            width: 150px
            border-radius: 10px
        .textbox
            text-align: left
            width: auto
            margin-left: 20px
            .minibox
                h2
                    font-size: 22px
                    font-weight: 700
                h5
                    color: #35b9be
                    font-size: 18px
            p
                margin: 15px 0
                font-size: 18px
                line-height: 1.2
                color: #6c7077
            .add
                display: flex
                input
                    border: 1px solid #e1e1e1
                    background-color: #e9e9e9
                    width: 50px
                .btn
                    background-color: #35b9be
                    color: #ffff
                    padding: 7px 20px
    .big
        padding: 17px 53px
        margin-top: 50px
    @media screen and ( max-width: 991px )
        .textbox
            width: 550px
            h1
                font-size: 72px
            h4
                font-size: 22px
        .box
            margin: 0 5px 5px 0
            width: 750px
            .imgbox
                width: 170px
            .textbox
                width: 1000px
                padding: 0 0 0 40px
                margin: 0 40px 0 0
                .minibox
                    h2
                        font-size: 22px
                    h5
                        font-size: 17px
                p
                    font-size: 17px
    @media screen and ( max-width: 767px )
        .flexbtn
            flex-flow: wrap
            .btn
                padding: 15px 85px
                margin: 0 10px 0 0 
                //margin: 10px 20px 0 20px
        .iphone
            display: flex
            flex-direction: column
        .box
            width: 270px
            padding: 15px
            margin: 0 0 0 0
            .imgbox
                width: 240px
            .textbox
                width: 230px
                padding: 0 0 0 0
                margin: 0 0 0 0
                .minibox
                    flex-direction: column
                    h2
                        font-size: 19px
                        margin: 15px 0 10px 0
                p
                    font-size: 15px
                    margin: 10px 0 25px 0
                .add
                    display: flex
                    input
                        border: 1px solid #e1e1e1
                        background-color: #e9e9e9
                        width: 50px
                    .btn
                        background-color: #35b9be
                        color: #ffff
                        padding: 9px 17px
                        font-size: 15px
                        border-radius: 7px
    
    @media screen and ( max-width: 576px )
        .box
            width:470px
            margin: 0 0 20px 0
            .imgbox
                width: 450px
            .textbox
                width: 460px
                padding: 0 30px 0 10px
    @media screen and ( max-width: 479px )
        .textbox
            h1
                font-size: 60px
            h4
                margin: 15px 0 25px 0
        .flexbtn
            display: flex
            flex-direction: column
            .btn
                margin: 0 0 5px 0
        .box
            margin: 0 0 0 0
            width: 400px
            .imgbox
                width: 380px
            .textbox
                padding: 0 0 0 0
                margin: 0 0 0 50px
                width: 420px
            .add
                .btn
                    padding: 9px 17px
                    margin: 0 5px
        .big
            padding: 15px 58px
    @media screen and ( max-width: 391px )
        .textbox
            h1
                font-size: 60px
            h4
                font-size: 18px
                width: 300px
        .flexbtn
            display: flex
            flex-direction: column
            .btn
                margin: 0 0 10px 0
        .iphone
            display: flex
            flex-direction: column
        .bgc
            background-color: #35b9be
            color: #ffff
        .box
            width: 300px
            padding: 10px
            .imgbox
                width: 270px
                height: auto
            .textbox
                width: 300px
                padding: 0 0 0 0
                margin: 0 0 0 30px
                .minibox
                    display: flex
                    flex-direction: column
                    h2
                        margin: 10px 0
                p
                    font-size: 13px
                .add
                    display: flex
                    input
                        border: 1px solid #e1e1e1
                        background-color: #e9e9e9
                        width: 50px
                    .btn
                        background-color: #35b9be
                        color: #ffff
                        padding: 9px 17px
                        font-size: 15px
                        border-radius: 7px
        .big
            padding: 17px 60px
            margin: 0 0
