header
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        padding: 20px 0
        width: 100%
        .imgbox
            width: 40px
        nav
            a
                font-size: 20px
                color: #8c8999
                margin-right: 30px
            .home-color
                color: #74bebc
        .btn
            display: none
    @media screen and ( max-width: 991px )
        .menu
            nav
                display: none
            .btn
                display: flex
                .icon
                    margin-right: 5px
                    padding: 7px 10px
                    background-color: #d4caca
                    color: #5a5959
                    border-radius: 6%
                .bgc
                    display: none
    @media screen and ( max-width: 391px )
        .menu
            .nav
                display: none
            .btn
                display: flex
                .icon
                    margin-right: 5px
                    padding: 7px 10px
                    background-color: #d4caca
                    color: #5a5959
                .bgc
                    display: block
                    background-color: #36b3bd
                    color: #ffff