body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 60px 0;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
header .menu .imgbox {
  width: 40px;
}
header .menu nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header .menu nav .home-color {
  color: #74bebc;
}
header .menu .btn {
  display: none;
}
@media screen and (max-width: 991px) {
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
  }
  header .menu .btn .icon {
    margin-right: 5px;
    padding: 7px 10px;
    background-color: #d4caca;
    color: #5a5959;
    border-radius: 6%;
  }
  header .menu .btn .bgc {
    display: none;
  }
}
@media screen and (max-width: 391px) {
  header .menu .nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
  }
  header .menu .btn .icon {
    margin-right: 5px;
    padding: 7px 10px;
    background-color: #d4caca;
    color: #5a5959;
  }
  header .menu .btn .bgc {
    display: block;
    background-color: #36b3bd;
    color: white;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
  margin-right: 80px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .minibox .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box .minibox .imgbox h4 {
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  #beautiful .box .textbox {
    text-align: center;
    margin-bottom: 30px;
  }
  #beautiful .box .textbox h1 {
    font-size: 75px;
  }
  #beautiful .box .textbox h4 {
    margin-bottom: 70px;
  }
  #beautiful .box .minibox {
    display: flex;
    justify-content: center;
  }
  #beautiful .imgbox {
    width: 600px;
    margin: 0 60px 0 0;
  }
}
@media screen and (max-width: 767px) {
  #beautiful .box .textbox {
    margin-bottom: 40px;
  }
  #beautiful .box .textbox h1 {
    font-size: 55px;
    margin: 0 0 0 45px;
  }
  #beautiful .box .textbox h5 {
    margin: 25px 0 50px 50px;
  }
  #beautiful .box .btn {
    margin: 0 0 0 40px;
  }
  #beautiful .box .minibox {
    margin: 0 0 0 40px;
  }
  #beautiful .box .minibox .imgbox {
    margin: 20px 0 10px;
  }
  #beautiful .box h4 {
    margin: 0 0 70px 50px;
  }
  #beautiful .imgbox {
    width: 450px;
    margin: 0 0 0 60px;
  }
}
@media screen and (max-width: 576px) {
  #beautiful .imgbox {
    width: 400px;
  }
}
@media screen and (max-width: 479px) {
  #beautiful .box .textbox h1 {
    font-size: 45px;
    margin: 0 0 0 0;
  }
  #beautiful .box .textbox h5 {
    margin: 25px 0 50px 10px;
  }
  #beautiful .box .textbox .btn {
    margin: 0 0 0 0;
  }
  #beautiful .box .minibox {
    margin: 0 0;
  }
  #beautiful .box .minibox .imgbox {
    margin: 0 50px 0 0;
  }
  #beautiful .imgbox {
    width: 300px;
  }
}
@media screen and (max-width: 391px) {
  #beautiful .box .textbox {
    text-align: center;
    margin: 0 0 40px 0;
  }
  #beautiful .box .textbox h1 {
    font-size: 40px;
    margin: 0 0;
  }
  #beautiful .box .textbox h5 {
    font-size: 17px;
    margin: 15px 0 25px 0;
  }
  #beautiful .box .minibox .imgbox {
    width: 100px;
    margin: 0 0 0 0;
  }
  #beautiful .box .textbox h4 {
    font-size: 17px;
    margin: 10px 0 0 0;
  }
  #beautiful .imgbox {
    width: 270px;
    margin: 0 0 0 15px;
  }
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 25px;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 0 100px 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .imgbox {
  width: 480px;
}
@media screen and (max-width: 991px) {
  #thehome .textbox {
    text-align: center;
    margin: 0 0 50px 0;
  }
  #thehome .textbox h1 {
    margin-left: 70px;
  }
  #thehome .textbox h5 {
    font-size: 22px;
  }
  #thehome .textbox .btn {
    margin: 0 100px 0 0;
  }
  #thehome .imgbox {
    width: 500px;
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 767px) {
  #thehome .textbox h5 {
    font-size: 18px;
    margin: 0 0 40px 0;
  }
  #thehome .textbox .btn {
    margin: 0 0 0 20px;
  }
  #thehome .imgbox {
    width: 450px;
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 576px) {
  #thehome .imgbox {
    width: 400px;
  }
}
@media screen and (max-width: 479px) {
  #thehome .textbox h1 {
    font-size: 50px;
    margin: 0 0 0 0;
  }
  #thehome .textbox h5 {
    margin: 20px;
  }
  #thehome .textbox .btn {
    padding: 12px 50px;
  }
  #thehome .imgbox {
    width: 310px;
    margin: 0 0 0 60px;
  }
}
@media screen and (max-width: 391px) {
  #thehome .textbox h1 {
    font-size: 50px;
    margin: 0 0;
  }
  #thehome .textbox h5 {
    font-size: 18px;
    margin: 15px 0 25px 0;
  }
  #thehome .textbox .btn {
    margin: 0 0 20px 0;
    padding: 13px 50px;
  }
  #thehome .imgbox {
    width: 300px;
    margin: 0 0 0 0;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media screen and (max-width: 991px) {
  #works h1 {
    font-size: 70px;
  }
  #works .box {
    margin: 0 0 50px 40px;
  }
  #works .box .imgbox {
    margin: 0 0 0 70px;
    width: 500px;
  }
  #works .box .textbox {
    padding: 0 80px 0 80px;
    margin: 30px 0 0 10px;
  }
}
@media screen and (max-width: 767px) {
  #works .box {
    margin: 40px 0 40px 20px;
  }
  #works .box .imgbox {
    width: 350px;
  }
  #works .box .textbox {
    margin: 35px 20px 0 0;
  }
}
@media screen and (max-width: 479px) {
  #works h1 {
    font-size: 65px;
  }
  #works .box {
    margin: 0 0 50px 0;
  }
  #works .box .imgbox {
    width: 350px;
    margin: 0 0 0 20px;
  }
  #works .box .textbox {
    width: 350px;
    margin: 15px 0 0 20px;
    padding: 0 0;
  }
}
@media screen and (max-width: 391px) {
  #works h1 {
    font-size: 55px;
  }
  #works .box {
    margin: 0 0 70px 0;
  }
  #works .box .imgbox {
    margin: 0 70px 40px 0;
    width: 300px;
  }
  #works .box .textbox {
    width: 240px;
    margin: 0 0 0 40px;
  }
  #works .box .textbox h2 {
    font-size: 23px;
  }
  #works .box .textbox h4 {
    font-size: 17px;
  }
}

#browse {
  background-color: #f5fbfc;
}
#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #35b9be;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #35b9be;
  text-decoration-line: underline;
}
#browse .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .bgc {
  background-color: #35b9be;
  color: white;
}
#browse .box {
  border: 2px solid #ebf6f6;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  margin: 0 0 10px 0;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #35b9be;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: #6c7077;
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #35b9be;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  #browse .textbox {
    width: 550px;
  }
  #browse .textbox h1 {
    font-size: 72px;
  }
  #browse .textbox h4 {
    font-size: 22px;
  }
  #browse .box {
    margin: 0 5px 5px 0;
    width: 750px;
  }
  #browse .box .imgbox {
    width: 170px;
  }
  #browse .box .textbox {
    width: 1000px;
    padding: 0 0 0 40px;
    margin: 0 40px 0 0;
  }
  #browse .box .textbox .minibox h2 {
    font-size: 22px;
  }
  #browse .box .textbox .minibox h5 {
    font-size: 17px;
  }
  #browse .box .textbox p {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  #browse .flexbtn {
    flex-flow: wrap;
  }
  #browse .flexbtn .btn {
    padding: 15px 85px;
    margin: 0 10px 0 0;
  }
  #browse .iphone {
    display: flex;
    flex-direction: column;
  }
  #browse .box {
    width: 270px;
    padding: 15px;
    margin: 0 0 0 0;
  }
  #browse .box .imgbox {
    width: 240px;
  }
  #browse .box .textbox {
    width: 230px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  #browse .box .textbox .minibox {
    flex-direction: column;
  }
  #browse .box .textbox .minibox h2 {
    font-size: 19px;
    margin: 15px 0 10px 0;
  }
  #browse .box .textbox p {
    font-size: 15px;
    margin: 10px 0 25px 0;
  }
  #browse .box .textbox .add {
    display: flex;
  }
  #browse .box .textbox .add input {
    border: 1px solid #e1e1e1;
    background-color: #e9e9e9;
    width: 50px;
  }
  #browse .box .textbox .add .btn {
    background-color: #35b9be;
    color: white;
    padding: 9px 17px;
    font-size: 15px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 576px) {
  #browse .box {
    width: 470px;
    margin: 0 0 20px 0;
  }
  #browse .box .imgbox {
    width: 450px;
  }
  #browse .box .textbox {
    width: 460px;
    padding: 0 30px 0 10px;
  }
}
@media screen and (max-width: 479px) {
  #browse .textbox h1 {
    font-size: 60px;
  }
  #browse .textbox h4 {
    margin: 15px 0 25px 0;
  }
  #browse .flexbtn {
    display: flex;
    flex-direction: column;
  }
  #browse .flexbtn .btn {
    margin: 0 0 5px 0;
  }
  #browse .box {
    margin: 0 0 0 0;
    width: 400px;
  }
  #browse .box .imgbox {
    width: 380px;
  }
  #browse .box .textbox {
    padding: 0 0 0 0;
    margin: 0 0 0 50px;
    width: 420px;
  }
  #browse .box .add .btn {
    padding: 9px 17px;
    margin: 0 5px;
  }
  #browse .big {
    padding: 15px 58px;
  }
}
@media screen and (max-width: 391px) {
  #browse .textbox h1 {
    font-size: 60px;
  }
  #browse .textbox h4 {
    font-size: 18px;
    width: 300px;
  }
  #browse .flexbtn {
    display: flex;
    flex-direction: column;
  }
  #browse .flexbtn .btn {
    margin: 0 0 10px 0;
  }
  #browse .iphone {
    display: flex;
    flex-direction: column;
  }
  #browse .bgc {
    background-color: #35b9be;
    color: white;
  }
  #browse .box {
    width: 300px;
    padding: 10px;
  }
  #browse .box .imgbox {
    width: 270px;
    height: auto;
  }
  #browse .box .textbox {
    width: 300px;
    padding: 0 0 0 0;
    margin: 0 0 0 30px;
  }
  #browse .box .textbox .minibox {
    display: flex;
    flex-direction: column;
  }
  #browse .box .textbox .minibox h2 {
    margin: 10px 0;
  }
  #browse .box .textbox p {
    font-size: 13px;
  }
  #browse .box .textbox .add {
    display: flex;
  }
  #browse .box .textbox .add input {
    border: 1px solid #e1e1e1;
    background-color: #e9e9e9;
    width: 50px;
  }
  #browse .box .textbox .add .btn {
    background-color: #35b9be;
    color: white;
    padding: 9px 17px;
    font-size: 15px;
    border-radius: 7px;
  }
  #browse .big {
    padding: 17px 60px;
    margin: 0 0;
  }
}

#order .imgbox {
  width: 600px;
}
#order .textbox {
  margin-left: 40px;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}
@media screen and (max-width: 991px) {
  #order .imgbox {
    width: 700px;
    margin-right: 90px;
  }
  #order .textbox {
    text-align: center;
    padding: 0 97px;
    margin-top: 60px;
  }
  #order .textbox h1 {
    font-size: 65px;
  }
  #order .textbox h5 {
    font-size: 25px;
    margin: 20px 0 40px 0;
  }
}
@media screen and (max-width: 767px) {
  #order .imgbox {
    width: 480px;
    margin: 0 90px 0 0;
  }
  #order .textbox {
    padding: 0 30px;
  }
  #order .textbox h1 {
    font-size: 65px;
  }
  #order .textbox h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 479px) {
  #order .imgbox {
    width: 380px;
  }
  #order .textbox .btn {
    padding: 12px 45px;
  }
}
@media screen and (max-width: 391px) {
  #order .imgbox {
    width: 300px;
    margin: 0 20px 0 0;
  }
  #order .textbox {
    padding: 0 10px;
    margin: 0 0 0 0;
  }
  #order .textbox h1 {
    font-size: 50px;
  }
  #order .textbox h5 {
    font-size: 20px;
  }
  #order .textbox .btn {
    padding: 12px 65px;
  }
}

#callour {
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}
#callour .imgbox {
  width: 480px;
}
@media screen and (max-width: 991px) {
  #callour .textbox {
    text-align: center;
    padding: 0 70px;
    margin: 20px 0 60px 0;
  }
  #callour .textbox h1 {
    font-size: 65px;
  }
  #callour .textbox h5 {
    margin: 20px 40px 35px 40px;
    line-height: 1.4;
  }
  #callour .imgbox {
    width: 450px;
    margin-left: 90px;
  }
}
@media screen and (max-width: 767px) {
  #callour .textbox {
    padding: 0 20px;
  }
  #callour .textbox h1 {
    font-size: 65px;
  }
  #callour .textbox .h5 {
    margin: 0 0 0 0;
  }
  #callour .imgbox {
    width: 350px;
  }
}
@media screen and (max-width: 479px) {
  #callour .textbox h1 {
    font-size: 60px;
  }
  #callour .textbox h5 {
    font-size: 18px;
  }
  #callour .imgbox {
    width: 350px;
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 391px) {
  #callour .textbox {
    padding: 0 10px;
  }
  #callour .textbox h1 {
    font-size: 55px;
  }
  #callour .textbox h5 {
    font-size: 20px;
    margin: 20px 0 45px 0;
  }
  #callour .textbox .btn {
    padding: 13px 50px;
  }
  #callour .imgbox {
    width: 300px;
    margin: 0 0;
  }
}

#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}
@media screen and (max-width: 991px) {
  #support .imgbox {
    width: 720px;
    height: 400px;
    margin-bottom: 10px;
  }
  #support .box2 {
    width: 900px;
    height: 400px;
    background-color: #35b6c1;
    margin: 10px 0 0 10px;
  }
  #support .textbox {
    width: 450px;
  }
  #support .textbox h1 {
    margin: 0 40px 20px 10px;
    font-size: 50px;
  }
  #support .textbox .btn {
    padding: 10px 40px;
    margin: 30px 0 0 10px;
  }
}
@media screen and (max-width: 767px) {
  #support .imgbox {
    width: 391px;
    height: 300px;
  }
  #support .box2 {
    margin: 0 0 10px 12px;
    width: 391px;
  }
}
@media screen and (max-width: 479px) {
  #support .imgbox {
    width: 390px;
    height: 300px;
  }
  #support .box2 {
    width: 390px;
    margin: 0 0 0 12px;
    padding: 0 0 0 0;
  }
  #support .textbox .btn {
    padding: 14px 70px;
  }
}
@media screen and (max-width: 391px) {
  #support .imgbox {
    width: 300px;
    height: 200px;
  }
  #support .box2 {
    width: 300px;
    margin: 0 0 0 12px;
  }
  #support .textbox h1 {
    font-size: 43px;
    padding: 10px;
    margin: 0 0;
  }
  #support .textbox .btn {
    padding: 14px 55px;
  }
}/*# sourceMappingURL=style.css.map */